md-sidenav.md-locked-open
{
    width: 250px;
    min-width: 100px;
    max-width: 250px;	
    height: 100%;
    min-height: 100%;
    max-height: 100%;
}

md-select {
    padding: 0px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
} 

.well {
    min-height: 20px;
    padding: 19px;
/*     margin-bottom: 20px; */
    background-color: #f5f5f5;
    border: 1px solid #e3e3e3;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.05);
}
div {
    display: block;
}

.AddContractorClass md-input-container
{
		padding: 10px 0px 10px; 
}
.AddWarehouseClass md-input-container
{
		padding: 10px 0px 10px; 
}
.AddInwardClass  md-input-container > md-select
{
	padding:0px 0px; 	
	width: 100%;
}

.AddInwardClass md-input-container
{
	padding-bottom: 0px;
}
.AddOrderClass  md-input-container > md-select
{
	padding: 0px 0px 0px; 	
/* 	width: 150px; */
}

.AddOrderClass md-input-container
{
	padding-bottom: 0px;
	margin:0px;
}

.show  md-input-container > md-select
{
	padding: 22px 0px 0px; 	
}

.show md-input-container
{
	padding-bottom: 0px;
}

.AddMaterialClass label
{
	color:gray;
	
}

.AddContractorClass label
{
	color:gray;
	
}
 .AddWarehouseClass label
 {
	color:gray;
	
}

md-input-container .md-input[disabled], [disabled] md-input-container .md-input
{
	color: rgba(0,0,0,0.26); 

}

  a{
		text-decoration:none;
		color: gray;

 }
 .sidenavClass {
 	color: white;	
 	align:cetre;
 	outline:none;
 	border:0px;
 	padding:20px 20px;
 	}


table.table {
	border: 1px solid #DCDCDC;
    border-collapse: collapse;
    width: 100%;
    overflow:auto; 
    border-radius:10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 20px rgba(0,0,0,0.05);
}

table.mtrlTable{
	border: 1px solid #DCDCDC;
    border-collapse: collapse;
    width: 100%;
    overflow:auto; 
    border-radius:10px;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.10),
     0px 10px 20px rgba(0,0,0,0.05),
     0px 20px 20px rgba(0,0,0,0.05),
     0px 30px 20px rgba(0,0,0,0.05);
}

table.mtrlTable th,table.wareTable th,table.ctrTable th,
table.odrTable th,table.invoiceTable th,table.inventoryTable th,table.inwardTable th
{
	    border-collapse: collapse;
	    padding: 8px;
	    	
}

table.mtrlTable td,table.wareTable td,table.ctrTable td,
table.odrTable td,table.invoiceTable td,table.inventoryTable td,table.inwardTable td
{
		border-collapse: collapse;
	    padding: 8px 40px 8px 8px;
}


table.odrTable tr,table.inwardTable tr,table.mtrlTable{
	cursor: pointer;cursor: hand;
	outline: 0px;
}
/* table.table td{
	text-align: left;
}

table.table th{
	text-align: left;
} */

th, td{

	    border-collapse: collapse;
	    text-align:center;
	    padding: 10px;
/*     	border-bottom: 1px solid #ddd; */
}
th{
	    padding-top: 12px;
    	padding-bottom: 12px;
		color: gray;
		background-color:#DCDCDC;
}


tr.tr:nth-child(even){background-color: #DCDCDC;}

tr.tr:hover{background-color:#ebf2f9}

md-sidenav{
		 width:15%;
		 min-width:25%;
    	 background-color:#104E8B;
    	 height:100%;
}
md-icon {

    height: 20px;
    width: 20px;
}

md-toolbar.md-hue-2{
	background-color: #1874CD;
	width:100%;
}

.dashboardClass md-input-container{
	padding:10px 0px 0px;
}



.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    visibility: hidden;
  }
}
@-webkit-keyframes blink-animation {
  to {
    visibility: hidden;
  }
}

input[type="checkbox"]{
  width: 15px; /*Desired width*/
  height: 15px; /*Desired height*/
}


table.invoiceDetClass th{
	text-align: right;
	font-size: medium;
	width: 20%;
	padding:5px 5px;
	border-bottom:1px solid #ddd;

}


table.invoiceDetClass td{
	text-align: right;
	font-size: medium;
	width: 20%;
	padding:5px 5px;
	border-bottom:1px solid #ddd;

}

table.totalClass td{
		text-align: right;
		font-size: small;
		width:20%;
		padding:5px 5px;

}
table.totalClass{
			border-spacing: 0px;
			margin:10px auto;
			padding:10px 20px;
			width:90%;
			height:auto;  
}


table.invoiceClass td{
		text-align:left;
		font-size: medium;
		padding:5px 10px;
		width:25%;

}

table.invoiceClass{
			border-spacing: 0px;
			margin:10px auto;
			padding:10px 20px;
			width:90%;
			height:auto; 

}




table.invoiceDetClass{
	border: 1px solid #DCDCDC;
    border-collapse: collapse;
	width:90%;
	height:auto;  
	border-spacing: 0px;
	margin:10px auto;
	padding:10px 20px;

}

input[type=text].NormalInput{
    width: 150px;
    box-sizing: border-box;
    border:none;
    border-bottom: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;	
}
input[type=text]:focus.NormalInput{
    width: 70%;
}

h2{
	padding:5px auto;
	margin:0px;
	text-align: left;
	color: gray;
	
}
input#discount:AFTER{
	background-color: white;

}

input[type="number"]:disabled{
	background-color: white;

}

md-select[disabled] .md-select-label,md-select[disabled] {
    color: black;
}
input{
	border:none;
	border-bottom: 1px solid lightgray;
}
input:FOCUS {
		border:none;
		outline:none;
	border-bottom: 1px solid lightgray;
}

.md-toolbar-tools{
	    max-height: 100px;
}


md-input-container {
    display: table-cell;
    position: relative;
    padding: 2px;
    margin: 20px 10px;
    vertical-align: baseline;
}

::-webkit-scrollbar { 
    display: none; 
}


.md-button.md-default-theme.md-raised, .md-button.md-raised{
	
	    max-height: 10px;
	    background-color: #8fbadf;
	    color:white;
	    
	    
}

.md-button.md-default-theme.md-raised:not([disabled]):hover, .md-button.md-raised:not([disabled]):hover {
	background-color: #42cac5;
}

.md-button.md-default-theme.md-fab[disabled], .md-button.md-fab[disabled], .md-button.md-default-theme.md-raised[disabled], .md-button.md-raised[disabled]
{
	background-color: #8fbadf;
	color:white;
}


.sort-icon {
    font-size: 9px;
    margin-left: 5px;
}

th {
    cursor:pointer;
}


input#invoiceDate:disabled{
text-align: right;
width: 100px;	
}

.md-datepicker-input{
	text-align:right;
	margin-right: 20px;
	width: 70px;
    min-width: 70px;
}
md-select[disabled] .md-select-value{
	width:150px;
}
md-dialog#addmaterial {
    min-width: 600px;
    max-width: 600px;
    max-height: 600px;
    min-height: 600px;
}

md-dialog#addwarehouse {
    min-width: 600px;
    max-width: 600px;
    max-height: 500px;
    min-height: 500px;
}

md-dialog#addContractor{
	min-width: 600px;
    max-width: 600px;
    max-height: 500px;
    min-height: 500px;
}
md-dialog#addInward{
	min-width: 600px;
    max-width: 600px;
    min-height: 550px;
    height: 550px;
}
md-dialog#addOrder{
	min-width: 600px;
    max-width: 600px;
    min-height: 550px;
    height: 550px;
}
md-dialog#alertAddMaterial{
	max-width: 400px;
    min-width: 400px;
    width: 400px;
    height: 100px;
   	max-height: 100px;
    min-height: 100px;
    
}

.pagination>li>a, .pagination>li>span{
	padding: 3px 10px;
}
.pagination{
	margin:15px 0px;
}

a:hover, a:focus {
    
    text-decoration: none;
}

*{
	outline: 0px;
}
/* md-list-item.md-no-proxy:hover, md-list-item .md-no-style:hover {
    outline: none;
    background-color: darkseagreen;
    z-index: -1;
} */
div#upload{
	background: #F8F8F8;
    border: 5px dashed #DDD;
    width: 200px;
    height: 90px;
    text-align: center;
    padding-top: 25px;
    margin: 10px;
}
.dragover {
    border: 5px dashed blue;
}

.card-media {
  background-color: #999999; }
  
  md-autocomplete[md-floating-label] md-input-container {
    padding-bottom: 0;
    margin: 10px;
}
